@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Aboutus</h1>
<br />
<p> Founded in 2010 in Stockholm, Swededn. We are selling pre-owned cars in best price.

    We have proudly helped thousands of peoplw into quality vehicles and onto their feet.

    And also we buy your cars we will make you a firm offer.
</p>