@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Taj Cars</h1>
    <p>We are one of the best car delears in town, here we sell used cars in good deal and will buy used cars from customers.</p>
    <p>Best prices and best deals for cars</p>
    <p>Review and Buy used cars</p>
    <p>Sell your cars in best price</p>
</div>
