@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<h2>Add Car Details</h2>
<br />

<form asp-action="Create">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Brand</label>
        <div class="col mb-6">
            <input type="text" class="form-control" name="brand" value=""/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Model</label>
        <div class="col mb-6">
            <input type="text" class="form-control" name="carmodel" value=""/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Year</label>
        <div class="col mb-6">
            <input type="text" class="form-control" name="modelyear" value=""/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Seats</label>
        <div class="col mb-6">
            <input type="text" class="form-control" name="Seats" value=""/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Mileage</label>
        <div class="col mb-6">
            <input type="text" class="form-control" name="mileage" value=""/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Gearbox</label>
        <div class="col mb-6">
            <input type="text" class="form-control" name="gearbox" value=""/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Price</label>
        <div class="col mb-6">
            <input type="text" class="form-control" name="price" value=""/>
        </div>
    </div>
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="Submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>
